<%= form_for(@message, html: { class: 'form-horizontal' }) do |f| %>
  <% if @message.errors.present? %>
    <div class="alert alert-danger">
      <%= alert %>
      <ul>
        <% @message.errors.full_messages.each do |full_message| %>
          <li>
            <%= full_message %>
          </li>
        <% end %> 
      </ul>
    </div>
  <% end %>

  <div class="bg-primary">
    <span class="glyphicon glyphicon-pencil" aria-hidden="true" style="padding: 5px 0px 10px 20px; font-size: 16px">投稿</span>
  </div>
  <div class="form-group">
    <label for="message_name" class="col-sm-2 control-label" style="margin-top: 10px">名前</label>
    <div class="col-sm-10">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <label for="message_age" class="col-sm-2 control-label" style="margin-top: 10px">年齢（半角数字）</label>
    <div class="col-sm-10">
      <%= f.text_field :age, class: 'form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <label for="message_body" class="col-sm-2 control-label">内容</label>
    <div class="col-sm-10">
      <%= f.text_area :body, class: 'form-control' %>
  </div>
  
  <div class="form-group" style="margin: 10px 0px 0px 15px">
  <%= f.submit class: "btn btn-sm btn-primary" %>
  </div>
  
<% end %>